/* Logo */

.logo {
  font-family: var(--font-family-header);
  color: azure;
  font-size: var(--font-size-xxlarge);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tagline {
  font-size: var(--font-size-large);
  color: #ee8813;
}

.site-header {
  background-color: var(--color-background-dark);
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BANNER */

.banner {
  background-color: var(--color-background-light);
  height: 60px;
  width: 100%;
}

.sales-link {
  font-family: var(--font-family-body);
  font-size: 1.25rem;
  color: var(--color-text-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* NAVBAR */

.toolbar {
  background-color: var(--color-background-dark);
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.toolbar li {
  list-style: none;
}

.toolbar label,
li,
a {
  color: var(--color-text-light);
}

#search {
}

#search {
  height: 32px;
  width: 350px;
  border-radius: var(--border-radius-medium);
  text-align: center;
}

.login-modal {
  display: none;
}

.material-symbols-outlined {
  color: var(--color-text-light);
}
